<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
>
	<testsuites>
		<testsuite name="WordPress Groups">
			<directory suffix=".php">tests/phpunit/</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">includes/</directory>
		</include>
	</source>
</phpunit>
