<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="WordPress Groups">
			<directory suffix=".php" prefix="Test_">tests/phpunit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
